<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3>REGISTRATION</h3>
        </div>
        <ion-item>
          <ion-label position="floating">
            Username
          </ion-label>
          <ion-input type="text" [(ngModel)]="userName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            Password
          </ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            Confirm password
          </ion-label>
          <ion-input type="password" [(ngModel)]="confirm_password"></ion-input>
        </ion-item>
        <ion-button color="primary" class="ion-float-right" (click)="registrate()">
          <ion-icon slot="start" name="log-in"></ion-icon>
          registrate
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
