<div class="row">
  <div class="col m6 offset-m3 s12" *ngIf="!showForm">
    <a (click)="showForm=true" class="btn-floating btn-large waves-effect waves-light green accent-4">
      <i class="material-icons">add</i>
    </a>
  </div>
  <div class="col m6 offset-m3 s12 my-form" *ngIf="showForm">
    <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">
      <h5 class="center-align">New team</h5>
      <div class="input-field">
        <input id="name" name="name" ngModel required type="text">
        <label for="name">Name</label>
      </div>
      <div class="input-field">
        <input id="discipline" name="discipline" ngModel required type="text">
        <label for="discipline">Discipline</label>
      </div>
      <div class="input-field">
        <input id="coach" name="coach" ngModel required type="text">
        <label for="coach">Coach</label>
      </div>
      <div class="input-field">
        <input id="playerQuantity" name="playerQuantity" ngModel required type="text">
        <label for="playerQuantity">Players Quantity</label>
      </div>
      <div class="input-field">
        <button type="button" (click)="showForm=false" class="rem-row btn-floating waves-effect waves-light left blue-grey">
          <i class="material-icons">keyboard_arrow_up</i>
        </button>
        <button type="submit" [disabled]="myForm.invalid" class="rem-row btn-floating waves-effect waves-light right green">
          <i class="material-icons">done</i>
        </button>
      </div>
    </form>
   </div>
</div>
